@import "./shared/index.css";
@import "./ui/index.css";

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: black;
}

#calculator {
  width: 480px;
  height: 600px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.2rem;
  color: white;
}

#calculator > * {
  font-size: 3rem;
}

#calculate-display {
  grid-column: 2 / span 3;
  text-align: right;
  padding: 0 40px;
  justify-self: flex-end;
}

.number {
  background-color: rgb(51, 51, 51);
}

.operation {
  background-color: rgb(255, 159, 10);
}

button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
